.homeContainer{
    height:                 40%;
    width:                  40%;
    display:                flex;
    flex-direction:         column;
    justify-content:        center;
    align-items:            center;
    gap:                    5vh;
    border-radius:          16px;
    border:                 0.5px solid lightgray;
    background:             rgb(255,255,255);
}

.homeContainer h1{
    font-family:            'Roboto';
    font-size:              2rem;
    font-weight:            600;
    letter-spacing:         1px;
    width:                  80%;
    text-align:             center;
    margin-bottom:          -16px;
    color:                  #387bf1;
}

a{
    font-family:            'Roboto';
    font-size:              1.2rem;
    text-decoration:        none;
    width:                  80%;
    padding:                16px 8px!important;
    border-radius:          4px;
    display:                flex;
    justify-content:        center;
    transition:             .3s all;
    color:                  white;
    background-color:       #387bf1;
}

a:not(:first-of-type){
    margin-top:             -3vh;
}

a:hover{
    background-color:       #5b93f5;
}

a:last-of-type{
    background-color:       rgb(230, 79, 162);
}

a:last-of-type:hover{
    background-color:       rgb(255, 93, 182);
}