h1{
    font-family:            'Roboto';
    font-size:              2rem;
    font-weight:            600;
    margin-top:             64px!important;
    color:                  #387bf1;
    letter-spacing:         2px;
}

.homeContainer{
    height:                 50%;
    width:                  33%;
    border:                 0.5px solid lightgray;
    border-radius:          16px;
    background:             rgb(255,255,255);
    display:                flex;
    flex-direction:         column;
    justify-content:        flex-start;
    align-items:            center;
    gap:                    64px;
}