.bruteForceContainer{
    min-height:             40%;
    max-height:             90%;
    overflow-y:             auto;
    width:                  80%;
    display:                flex;
    flex-direction:         column;
    justify-content:        flex-start;
    align-items:            center;
    gap:                    4vh;
    border-radius:          16px;
    border:                 0.5px solid lightgray;
    background:             rgb(255,255,255);
}

.bruteForceContainer h1{
    font-family:            'Roboto';
    font-size:              2rem;
    font-weight:            600;
    letter-spacing:         1px;
    width:                  80%;
    text-align:             center;
    color:                  #387bf1;
}

a{
    font-family:            'Roboto';
    font-size:              1.2rem;
    text-decoration:        none;
    width:                  80%;
    padding:                16px 8px!important;
    border-radius:          4px;
    display:                flex;
    justify-content:        center;
    transition:             .3s all;
    color:                  white;
    background-color:       #387bf1;
}

a:not(:first-of-type){
    margin-top:             -3vh;
}

a:hover{
    background-color:       #5b93f5;
}

.table{
    display:                flex;
    flex-direction:         column;
    justify-content:        center;
    align-items:            center;
    width:                  90%;
    padding-bottom:         32px;
    gap:                    64px;
}

.row{
    display:                flex;
    flex-direction:         row;
    justify-content:        space-between;
    align-items:            flex-start;
    width:                  100%;
    padding:                10px 10%;
    border-radius:          8px;
    overflow-y:             auto;
    height:                 30vh;
}

.row:first-of-type{
    height:                 auto;
}

.row:first-of-type p{
    font-family:            'Roboto';
    font-size:              2rem;
    font-weight:            600;
    color:                  #387bf1;
}

.rowAccessGranted{
    background-color:       #3cffff;
}